.titabout{
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to right, rgb(222, 95, 90, 0.5), rgb(222, 95, 90, 1));
    text-align: center;
    color:var(--text-color);
    padding: 8rem 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.titabout img{
    height: 100%;
    width: auto;
}

.about{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin: 2rem 0;
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.left{
    color: var(--text-color);
    padding: 5rem;
    grid-column: 1/3;
}

@media(max-width:750px){

    .titabout{
        flex-direction: column;
        justify-content: space-between;
    }

    .titabout img{
        padding-bottom: 3rem;
    }

    .about{
        grid-template-columns: 1fr;
    }

}