.hero{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6em;
    /* border-bottom: 4px solid var(--dark-color); */
}

.logo {
    text-transform: uppercase;
    font-size: large;
    color: var(--dark-color);
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background: transparent !important;
}

.menu li {
    list-style: none;
    text-align: center;
    padding: 1.5em;
}

.menu a {
    color: var(--dark-color);
    text-decoration: none;
}

.menu a:hover{
    color: var(--alt-color);
    border-bottom: 2px solid var(--alt-color);
}

a:hover{
    text-decoration: none;
}
